<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.db.mapper.CategoryMapper">

    <resultMap id="CatAndBrand" type="com.young.db.pojo.CatAndBrand">
        <result property="value" column="id"></result>
        <result property="label" column="name"></result>
        <collection property="children" ofType="com.young.db.pojo.ChildBrand"
                    javaType="ArrayList">
            <result property="value" column="value"></result>
            <result property="label" column="label"></result>
        </collection>
    </resultMap>

    <select id="selectCatAndBrand" resultMap="CatAndBrand">
        SELECT a.id,a.`name`,
        b.id `value`,b.`name` `label` FROM young_category a
        LEFT JOIN young_category b ON a.id = b.pid
        <where>
            a.LEVEL='L1' AND b.deleted = 0
        </where>
    </select>

</mapper>
