<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.db.mapper.SeckillPromotionProductRelationMapper">


    <resultMap id="flashProductMap" type="com.young.db.pojo.SeckillPromotionProduct"
               extends="com.young.db.dao.YoungSeckillPromotionProductRelationMapper.BaseResultMap">
        <association property="product" javaType="com.young.db.pojo.YoungGoodsPlus">
            <id column="g_id" jdbcType="INTEGER" property="id" />
            <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
            <result column="p_stock" jdbcType="INTEGER" property="stock" />
        </association>
    </resultMap>


    <resultMap id="sessionMap" type="com.young.db.pojo.SeckillPromotionSessionDetail"
               extends="com.young.db.dao.YoungSeckillPromotionSessionMapper.BaseResultMap">
        <result column="product_count" jdbcType="INTEGER" property="productCount"></result>
    </resultMap>

    <select id="getSeckillGoodsList" resultMap="flashProductMap">
        SELECT
        r.id,
        r.flash_promotion_price,
        r.flash_promotion_count,
        r.flash_promotion_limit,
        r.flash_promotion_id,
        r.flash_promotion_session_id,
        r.product_id,
        r.sort,
        g.`id` g_id,
        g.`name`,
        g.goods_sn,
        g.retail_price,
        SUM(p.number) p_stock
        FROM
        young_seckill_promotion_product_relation r
        LEFT JOIN young_goods g ON r.product_id = g.id
        LEFT JOIN young_goods_product p ON p.goods_id = g.id
        WHERE
        r.flash_promotion_id = #{flashPromotionId}
        AND r.flash_promotion_session_id = #{flashPromotionSessionId}
        GROUP BY p.goods_id
        ORDER BY r.sort DESC
    </select>

    <select id="getSessionListWithCount" resultMap="sessionMap">
        SELECT
        ps.id,
        ps.`name`,
        COUNT(pr.flash_promotion_session_id) product_count,
        ps.start_time,ps.end_time,ps.`status`
        FROM young_seckill_promotion_session ps
        LEFT JOIN young_seckill_promotion_product_relation pr ON ps.id = pr.flash_promotion_session_id
        WHERE pr.flash_promotion_id = #{promotionId}
        AND ps.deleted=0
        GROUP BY pr.flash_promotion_session_id
        ORDER BY ps.start_time ASC
    </select>
</mapper>
